* {
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  background-color: #f5672b;
  display: flex;
  height: 2.2rem;
  position: relative;
}

.free-shipping {
  margin: .3rem .5rem .5rem 5rem;
  background-color: #a43239;
  color: white;
  width: 7rem;
  height: 1.5rem;
  border: 1px #f5672b solid;
  border-radius: 8%;
  font-size: .75rem;
  opacity: .8;
  display: inline;
  position: absolute;
  left: 5%;
}

.page-top {
  padding: .5rem;
}

.top-of-page {
  display: inline;
  list-style-type: none;
  margin: 2rem .5rem;
  color: white;
  font-family: Verdana;
  font-size: .85rem;

}

nav {
  background-color: yellow;
  display: flex;


}

.logo {
  transform: scale(.5);
  position: relative;
}

.tie-select{
  display: flex;
  max-height: inherit;
}
.nav-bar {
  display: inline-flex;
  flex-direction: ;
  list-style-type: none;
  margin: .5rem;
  text-align: center;
  font-size: 1.4rem;

}

.top-right {
  display: flex;
}

.login {
  font-size: .7rem;
  text-decoration: none;
  margin: .3rem;
  display: flex;
  align-items: flex-start
}

.cart {
  display: flex;
  margin: .2rem;
}

.search-bar {
  display: flex;
  margin: .2rem;
}

.ties {
  display: flex;
  /*flex: initial;*/
  width: 100%;
  height: 20rem;
  border: 1px solid black;
  position: relative;


}

.tie-pics {
  /*transform: scale(.6);*/
  display: flex;
  margin: 0;
  padding: 0;
  top: 0%;
  position: absolute;
  transform: translate(3%, 0%);
  min-width: 10rem;

}

.tie-types {
  display: flex;
  position: sticky;
  top: 100%;
}

.tiles {
  display: flex;
  width: 100%;
  height: 33vh;
  background-color: blue;
  border: 1px solid black;
}

.bow-ties {
  display: flex;
  width: 25%;
  height: 23vh;
  background-color: green;
  justify-content: flex-start;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

.pocket-squares {
  display: flex;
  width: 25%;
  height: 23vh;
  background-color: purple;
  justify-content: ;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

.tie-bars {
  display: flex;
  width: 25%;
  height: 23vh;
  background-color: orange;
  justify-content: flex-end;;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

.story {
  text-align: center;
  height: 12rem;
  background: gray;
  padding: 5% 5%;
}

.story--link {
  text-decoration: none;
  color: blue;
  height: 2rem;
  margin: 1rem;
}
.story--link:hover {
  color: #56c71a;
  font-size: 1.1rem;
}

footer {
  width: 100%;
  background-color: red;
  display: flex;
  border-top: dotted 2px;
  /*padding-top: 1.5rem;*/
}

.wkpick {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 12rem;
  border: black solid 2px;
}

.loop {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 12rem;
  border: black solid 2px;
}

.quarter {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 12rem;
  border: black solid 2px;
}

.guide {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 12rem;
  border: black solid 2px;
}

.bottom--nav {
  display: flex;
  flex-direction: row;
  min-width: 10rem;
  margin-right: 40rem;

}

.shop {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  border: black solid 2px;
  list-style-type: none;
  justify-content: flex-end;
}

.shop--li {
  list-style-type: none;
  margin: .5rem .5rem .6rem 0;
  justify-content: flex-end;
  font-size: .8rem;
  text-align: left;
}

.about {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  border: black solid 2px;
  padding-top: 1rem;
  list-style-type: none;
  justify-content: flex-end;
}

.about--us {
  list-style-type: none;
  margin: .5rem .5rem .6rem 0;
  justify-content: flex-end;
  font-size: .8rem;
  text-align: left;
}

.style {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  border: black solid 2px;
  padding-top: 1rem;
  list-style-type: none;
  justify-content: flex-end;

}

.style--guide {
  list-style-type: none;
  margin: .5rem .5rem .6rem 0;
  justify-content: flex-end;
  font-size: .8rem;
  text-align: left;
}

.help {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  border: black solid 2px;
  padding-top: 1rem;
  list-style-type: none;
  justify-content: flex-end;
}

.help--li {
  list-style-type: none;
  margin: .5rem .5rem .6rem 0;
  justify-content: flex-end;
  font-size: .8rem;
  text-align: left;
}
