* {
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 60rem;
  margin: auto;
  overflow: auto;
}

header {
  background-color: #f5672b;
  display: flex;
  height: 2.2rem;
  position: relative;
}

.free-shipping {
  margin: .3rem .5rem .5rem 5rem;
  background-color: #a43239;
  color: white;
  width: 7rem;
  height: 1.5rem;
  border: 1px #f5672b solid;
  border-radius: 8%;
  font-size: .75rem;
  opacity: .8;
  display: inline;
  position: absolute;
  left: 5%;
}

.page-top {
  padding: .5rem;
}

.top-of-page {
  display: inline;
  list-style-type: none;
  margin: 2rem .5rem;
  color: white;
  font-family: Verdana;
  font-size: .85rem;
}




nav {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  margin-right: 0;
}

.tie-select{
  display: flex;
  margin: 0;
}
.nav-bar {
  display: inline-flex;
  list-style-type: none;
  margin: .5rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: serif;
}

.top-right {
  text-align: right;
}

.login {
  font-size: .7rem;
  text-decoration: none;
  margin: .3rem;
  text-align: right;
}

.cart {
  margin: .2rem;
}

.search-bar {
  margin: .2rem;
}



.ties {
  position: relative;
  background-color: #f4f4f4;
}

.tie-pics {
  display: flex;
  text-align: center;
}

.slogan {
  margin: 2rem 1rem;
  font-size: 3.7rem;
  text-align: center;
}




.tiles {
  width: 100%;
  background-color: blue;
  display: flex;
}

.bow-ties {
  display: flex;
  width: 25%;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

.pocket-squares {
  display: flex;
  width: 25%;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

.tie-bars {
  display: flex;
  width: 25%;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}



.story {
  text-align: center;
  height: 12rem;
  background: gray;
  padding: 5% 5%;
}

.story--link {
  text-decoration: none;
  color: blue;
  height: 2rem;
  margin: 1rem;
}
.story--link:hover {
  color: #56c71a;
  font-size: 1.1rem;
}

footer {
  width: 100%;
  background-color: red;
  display: flex;
  border-top: dotted 2px;
  /*padding-top: 1.5rem;*/
}

.wkpick {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 12rem;
  border: black solid 2px;
}

.loop {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 12rem;
  border: black solid 2px;
}

.quarter {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 12rem;
  border: black solid 2px;
}

.guide {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 12rem;
  border: black solid 2px;
}

.bottom--nav {
  display: flex;
  flex-direction: row;
  min-width: 10rem;
  margin-right: 40rem;

}

.shop {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  border: black solid 2px;
  list-style-type: none;
  justify-content: flex-end;
}

.shop--li {
  list-style-type: none;
  margin: .5rem .5rem .6rem 0;
  justify-content: flex-end;
  font-size: .8rem;
  text-align: left;
}

.about {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  border: black solid 2px;
  padding-top: 1rem;
  list-style-type: none;
  justify-content: flex-end;
}

.about--us {
  list-style-type: none;
  margin: .5rem .5rem .6rem 0;
  justify-content: flex-end;
  font-size: .8rem;
  text-align: left;
}

.style {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  border: black solid 2px;
  padding-top: 1rem;
  list-style-type: none;
  justify-content: flex-end;

}

.style--guide {
  list-style-type: none;
  margin: .5rem .5rem .6rem 0;
  justify-content: flex-end;
  font-size: .8rem;
  text-align: left;
}

.help {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 8rem;
  border: black solid 2px;
  padding-top: 1rem;
  list-style-type: none;
  justify-content: flex-end;
}

.help--li {
  list-style-type: none;
  margin: .5rem .5rem .6rem 0;
  justify-content: flex-end;
  font-size: .8rem;
  text-align: left;
}
